.configurator {

  &__head {
  }

  &__steps {
    @include adaptiveValue("padding-bottom", 160, 38, 1440, 480, 1);
  }

  &__step {

    &_one {
    }
  }
}
.head-configurator {

  &__container {
  }

  &__breadcumps {
    display: flex;
    align-items: center;
    gap: rem(6);
    &:not(:last-child) {margin-bottom: rem(8);}
    * {
      color: #8E8E93;
      font-size: rem(13);
    }
    a {
      display: flex;
      align-items: end;
      gap: rem(6);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          color: #80C9F9;
        }
      }
      &::after{
        content:'';
        display: block;
        flex: 0 0 rem(4);
        width: rem(4);
        height: rem(4);
        border-radius: 50%;
        background-color: #E0E0E3;
        margin-bottom: rem(5);
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__title {
    &:not(:last-child) {margin-bottom: rem(40);}
    @media (max-width:$mobile){
      display: none;
    }
  }

  &__stepsline {
    min-width: rem(60);
    overflow-x: auto;
    @media (max-width:$mobile){
      min-height: 0;
      margin-bottom: rem(20);
      border-radius: 0;
      padding: 0 rem(15);
      margin-left: rem(-15);
      margin-right: rem(-15);
    }
    .stepsline_item {
      white-space: nowrap;
      @media (max-width:$mobile){
        font-size: rem(13);
        padding: rem(11) rem(22);
        &:first-child {
          padding-left: 0;
        }
        &::after{
          margin-top: rem(-6);
        }
      }
    }
  }
}
.step-configurator {
  
  &__container {
    border: 0.5px solid #F9F9F9;
    box-shadow: 0px rem(4) rem(8) rgba(26, 26, 26, 0.08);
    border-radius: rem(12);
    @include adaptiveValue("padding-top", 40, 0, 1200, 767, 1);
    @include adaptiveValue("padding-bottom", 40, 15, 1200, 767, 1);
    @include adaptiveValue("padding-left", 40, 10, 1200, 480, 1);
    @include adaptiveValue("padding-right", 40, 10, 1200, 480, 1);
    overflow-x: hidden;
    position: relative;
    .config_wrapper {
      border: none;
      box-shadow: none;
      padding-bottom: rem(30);
      &:not(:last-child) {margin-bottom: rem(30);}
      .pagination-tubes {
        margin-top: rem(28);
      }
      &_products {
        margin-bottom: 0;
      }
      @media (max-width:$mobile){
        padding-left: 0;
        padding-right: 0;
        &_products {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    h2 {
      @media (max-width:$mobile){
        display: none;
      }
    }
  }

  &__arcs {
    @include adaptiveValue("margin-bottom", 60, 20, 1440, 480, 1);
  }

  &__head {
    &:not(:last-child) {
      @media (min-width:$mobile){
        margin-bottom: rem(30);
      }
    }
    gap: rem(20);
    align-items: center;

    [data-step="tork"] & {
      &:not(:last-child) {margin-bottom: rem(28);}
    }
  }

  &__title {
    &:not(:last-child) {margin-bottom: rem(4);}
    font-weight: 600;
    @include adaptiveValue("font-size", 28, 20, 1440, 480, 1);
    @media (max-width:$mobile){
      display: none;
    }
  }

  &__label {
    max-width: rem(600);
    color: #8E8E93;
    @include adaptiveValue("font-size", 15, 13, 1440, 480, 1);
  }

  &__body {
    @include adaptiveValue("padding", 32, 0, 1200, 480, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 72, 60, 1920, 480, 1);
    }
  }

  &__item {
  }

  &__add {
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: rem(12);
    padding: rem(28);
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: rem(20);
    gap: rem(12);
    line-height: 1;
    transition: all 0.3s ease 0s;
    ._plus {
      font-size: rem(24);
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 12, 1440, 480, 1);
    }
    @media (any-hover: hover){
      &:hover{
        background-color: $blue;
        color: #fff;
      }
    }
    @media (max-width:$mobile){
      font-size: rem(15);
      padding: rem(17);
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    .backlink {
      border-radius: rem(100);
      padding: rem(5);
      padding-right: rem(20);
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          background-color: #F5F5F5;
        }
      }
      @media (max-width:$mobile){
        display: none;
      }
    }
    @media (max-width:$mobile){
      .configurator__steps_ligatures & {
        position: fixed;
        bottom: rem(62);
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 100vw;
        padding: rem(10) rem(15);
        z-index: 2;
        background-color: #fff;
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: rem(12);
    margin-left: auto;
    color: #fff;
    background-color: $blue;
    border-radius: rem(100);
    padding: rem(7) rem(8);
    min-width: rem(177);
    border: rem(1) solid $blue;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        color:#000;
      }
    }
    @media (max-width:$mobile){
      width: 100%;
      justify-content: center;
      border-radius: rem(4);
      padding: rem(10);
    }
  }
  &__circle {
    flex: 0 0 rem(40);
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    display: flex;
    justify-content:center;align-items: center;
    background-color: #56b7f7;
    @media (max-width:$mobile){
      display: none;
    }
  }

  &__tippy {
    display: flex;
    align-items: center;
    gap: rem(6);
    cursor: pointer;
    svg path {
      transition: all 0.3s ease 0s;
    }
    &:hover{
      svg path {
        fill: #2CA5F5;
      }
    }
  }
  &__mobbot {
    @media (min-width:$mobile){
      display: none;
    }
    @media (max-width:$mobile){
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {margin-bottom: rem(40);}
    }
  }
}
.item-stepConfigurator {
  &:not(:last-child) {margin-bottom: rem(32);}
  &_wrap {
    .swiper-wrapper {
      @media (max-width:$mobile){
        flex-direction: column;
        gap: rem(12);
      }
    }
  }

  &__head {
    display: flex;
    gap: rem(15);
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    &:not(:last-child) {margin-bottom: rem(20);}
  }

  &__title {
    font-weight: 600;
    font-size: rem(18);
    span {
      display: block;
    }
  }
  &__attention {
    color: $red;
    font-size: rem(15);
    max-width: rem(460);
    line-height: 1.3;
    font-weight: 400;
    @media (max-width:$mobile){
      display: none !important;
    }
  }

  &__switch {
  }

  &__body {
    position: relative;
  }

  &__tooth {
    max-width: 100vw;
    overflow: hidden;
    &_hidden {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      opacity: 0;
      pointer-events: none;
    }
  }
}
.switch-stepConfigurator {
  position: relative;
  display: flex;
  gap: rem(9);
  &[data-tippy-content] {
    opacity: 0.4;
    label {
      pointer-events: none;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0 !important;
    height: 0 !important;
    &:checked+label .switch-stepConfigurator__ball {
      background-color: #2CA5F5;
      span {
        transform: translateX(rem(23));
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: rem(9);
    cursor: pointer;
  }

  &__ball {
    position: relative;
    display: block;
    width: rem(48);
    flex: 0 0 rem(48);
    height: rem(24);
    border-radius: rem(20);
    background-color: #E0E0E3;
    transition: all 0.3s ease 0s;
    span {
      display: block;
      width: rem(19);
      height: rem(19);
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 9.5px);
      left: 2.5px;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
  }

  &__text {
  }

  &__tippy,
  .step-configurator__tippy {
    cursor: pointer;
    display: flex;
    justify-content:center;align-items: center;
    svg path {
      transition: all 0.3s ease 0s;
    }
    &:hover{
      svg path {
        fill: #2CA5F5
      }
    }
  }
}
.tooth-stepConfigurator {
  transition: all 0.7s ease 0s;

  &__item {
    position: relative;
    flex: 0 0 rem(249);
    min-width: rem(249);
    @media (max-width:$mobile){
      .item-stepConfigurator_wrap & {
        min-width: 0;
        flex: 1 1 auto;
      }
    }
    @media (any-hover: hover){
      &:hover{
        label {
          border-color: #2CA5F5;
          color: #2CA5F5;
          & ._tooth {
            stroke: #2CA5F5;
            &_fill {
              fill: #D5EDFD;
            }
          }
        }
        input {
          border-color: #2CA5F5;
        }
      }
    }
    &[data-tippy-content],
    &_disabled {
      opacity: 0.4;
      label {
        pointer-events: none;
        border-color: #E0E0E3 !important;
        color: #111 !important;
        & ._tooth {
          stroke: #D5EDFD !important;
          &_fill {
            fill: #D5EDFD !important;
          }
        }
      }
      input {
        border-color: #E0E0E3 !important;
      }
    }
  }

  &__checkbox {
    position: absolute !important;
    top: rem(16) !important;
    right: rem(16) !important;
    &:checked+label {
      border-color: #2CA5F5 !important;
      color: #2CA5F5 !important;
      & ._tooth {
        stroke: #2CA5F5 !important;
        &_fill {
          fill: #D5EDFD !important;
        }
      }
      .select__value::after {
        border-color: #2CA5F5 !important;
      }
      .select__title,
      .tooth-stepConfigurator__num {
        color: #2CA5F5;
      }
    }
    @media (min-width:$mobile) {
      width: 0 !important;
      height: 0 !important;
      opacity: 0 !important;
    }
  }

  &__radio {
    position: absolute !important;
    top: calc(50% - rem(10));
    left: rem(16) !important;
    &:checked+label {
      border-color: #2CA5F5 !important;
      color: #2CA5F5 !important;
      & ._tooth {
        stroke: #2CA5F5 !important;
        &_fill {
          fill: #D5EDFD !important;
        }
      }
      .select__value::after {
        border-color: #2CA5F5 !important;
      }
      .select__title,
      .tooth-stepConfigurator__num {
        color: #2CA5F5 !important;
      }
    }
  }

  &__label {
    padding: rem(16);
    padding-left: rem(48);
    [data-tooth] &,
    .item-stepConfigurator__tooth_model & {
      min-height: rem(200);
      padding: rem(16) rem(16) rem(20);
    }
    border: rem(1) solid #E0E0E3;
    border-radius: rem(12);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    & ._tooth {
      transition: all 0.3s ease 0s;
      fill: white;
      stroke: #E0E0E3;
    }
  }

  .select {
    &_tooth-stepConfigurator__select{
      position: absolute;
      top: rem(16);
      right: rem(12);
    }
    &__title {
      border: none;
      font-size: rem(13);
      color: #8E8E93;
    }
    &__value {
      height: auto;
      &::after{
        height: rem(6);
        flex: 0 0 rem(6);
        border-left: 1px solid #8E8E93;
        border-bottom: 1px solid #8E8E93;
        width: rem(6);
        transition: all 0.3s ease 0s;
        transform: rotate(-45deg);
        align-self: center;
      }
    }
    &__options {
      border: none;
      box-shadow: 0px rem(8) rem(20) rgba(26, 26, 26, .1);
      border-radius: rem(4);
      padding: rem(6) rem(4);
      @media (min-width:$mobileSmall){
        min-width: rem(132);
      }
    }
    &__option {
      padding: rem(10) rem(12);
    }
  }

  &__num {
    position: absolute;
    top: rem(16);
    right: rem(12);
    font-size: rem(13);
    color: #8E8E93;
  }

  &__name {
    &:not(:last-child) {margin-bottom: rem(20);}
    font-weight: 600;
    transition: color 0.3s ease 0s;
    max-width: calc(100% - rem(80));
  }

  &__image {
    margin-top: auto;
    align-self: center;
    img, picture {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.group-stepConfigurator {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 56, 32, 1920, 480, 1);
    @media (max-width:$mobile){
      margin-left: rem(-15);
      margin-right: rem(-15);
      padding-left: rem(16);
      padding-right: rem(16);
      border-bottom: 1px solid #F5F5F5;
    }
  }
  padding-bottom: rem(28);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(20);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 36, 28, 1920, 480, 1);
    }
    padding-left: rem(16);
  }

  &__title {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.2;
    padding: rem(8) rem(16);
    background-color: #F5F5F5;
    border-radius: rem(100);
    @media (max-width:$mobile){
      font-size: rem(15);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(15);
  }

  &__button {
    display: flex;
    align-items: center;
    gap: rem(4);
    transition: all 0.3s ease 0s;
    font-weight: 600;
    svg path {
      transition: all 0.3s ease 0s;
    }

    &_edit {
      color: #2CA5F5;
      @media (any-hover: hover){
        &:hover{
          color: $blue2;
          svg path {
            stroke: $blue2;
          }
        }
      }
    }
  
  
    &_delete {
      color: $red;
      @media (any-hover: hover){
        &:hover{
          color: $gray;
          svg path {
            stroke: $gray;
          }
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 40, 20, 1440, 480, 1);
    @media (max-width:$mobileSmall){
      flex-direction: column;
    }
  }

  &__product {
  }

  &__tooth {
  }
}
.product-groupConfigurator {
  display: flex;
  align-items: start;
  gap: rem(24);
  @media (min-width:$mobileSmall){
    min-width: rem(360);
  }
  @media (max-width:$mobile){
    align-items: center;
  }

  &__image {
    position: relative;
    @media (min-width:$mobile){
      width: rem(100);
      height: rem(100);
      flex: 0 0 rem(100);
    }
    @media (max-width:$mobile){
      width: rem(115);
      flex: 0 0 rem(115);
      svg {
        max-width: 100%;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @media (max-width:$mobile){
        display: none;
      }
    }
  }

  &__body {
  }

  &__line {
    display: flex;
    gap: rem(8);
    align-items: flex-end;
    &:not(:last-child) {margin-bottom: rem(8);}
  }

  &__name {
    font-weight: 600;
    font-size: rem(18);
  }

  &__size {
    color: #8E8E93;
  }

  &__key {
    color: #8E8E93;
  }

  &__value {
  }
}
.tooth-groupConfigurator {
  display: flex;
  align-items: start;
  gap: rem(24);
  @media (max-width:$mobileSmall){
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  &__image {
  }

  &__body {
  }

  &__line {
    display: flex;
    gap: rem(8);
    &:not(:last-child) {margin-bottom: rem(8);}
    @media (max-width:$mobile){
      gap: rem(5);
    }
  }

  &__name {
    font-weight: 600;
  }

  &__grey {
    font-size: rem(13);
    color: #8E8E93;
  }

  &__number {
    font-size: rem(13);
    display: flex;
    justify-content:center;align-items: center;
    background-color: #F9F9F9;
    border-radius: rem(4);
    @media (min-width:$mobile){
      height: rem(24);
      width: rem(24);
      flex: 0 0 rem(24);
    }
    @media (max-width:$mobile){
      height: rem(28);
      width: rem(28);
      flex: 0 0 rem(28);
    }

    &_disabled {
      color: #E0E0E3;
    }
  }

  &__dot {
    flex: 0 0 rem(4);
    width: rem(4);
    height: rem(4);
    border-radius: 50%;
    background-color: #E0E0E3;
    align-self: center;
  }
}

//========================================================================================================================================================

.tork-configurator {
  @media (min-width:$mobile){
    &:not(:last-child) {margin-bottom: rem(60);}
  }
  @media (max-width:$mobile){
    &:not(:last-child) {margin-bottom: rem(130);}
  }

  &__head {
  }

  &__grey {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 0 auto;
    span {
      font-weight: 600;
    }
  }

  &__body {
  }

  &__texts {
    text-align: center;
    &:not(:last-child) {margin-bottom: rem(20);}
    position: relative;
    height: rem(18);
    font-size: rem(13);
    color: #8E8E93;
  }
}
.head-torkConfigurator {
  display: flex;
  flex-wrap: wrap;
  gap: rem(20);
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {margin-bottom: rem(22);}
  @media (max-width:$mobileSmall){
    flex-direction: column;
    align-items: stretch;
  }

  &__selectParent {
    flex: 1 1 auto;
    position: relative;
    &._nobefore .select__title {
      padding: rem(19) rem(12);
    }
    &::before{
      content:attr(data-before);
      position: absolute;
      left: rem(12);
      top: rem(6);
      z-index: 22;
      font-size: rem(13);
      color: #8E8E93;
    }
  }

  .select {
    position: relative;
    width: 100%;
    max-width: rem(400);
    &._select-open .select__title::before {
      transform: translateY(-50%) rotate(225deg);
      border-color: #2CA5F5;
    }
    &._select-open .select__title {
      border-color: #2CA5F5;
    }
    &__body {
      position: relative;
    }
    &__title {
      color: inherit;
      text-align: left;
      background-color: #F5F5F5;
      border: rem(1) solid #F5F5F5;
      cursor: pointer;
      width: 100%;
      border-radius: 4px;
      border-radius: rem(4);
      padding: rem(28) rem(12) rem(8);
      position: relative;
      transition: all 0.3s ease 0s;
      &::before{
        content:'';
        width: rem(13);
        height: rem(13);
        position: absolute;
        border-right: rem(1) solid #8E8E93;
        border-bottom: rem(1) solid #8E8E93;
        right: rem(17);
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.3s ease 0s;
      }
    }
    &__value {
      display: flex;
      align-items: center;
      height: auto;
      padding: 0;
      line-height: 1;
      gap: rem(10);
      > * {
        flex: 1 1 auto;
      }
      &:after {
        content: "";
        align-self: stretch;
        flex: 0 0 10px;
        transition: all 0.3s ease 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        ._select-open & {
          transform: rotate(-180deg);
        }
      }
      &._select-pseudo-label {
        &::before {
          content: attr(data-pseudo-label);
          opacity: 0.5;
        }
      }
    }
    &__text {
      flex: 1 1 auto;
    }
    &__input {
      width: 100%;
      background-color: transparent;
      height: 100%;
    }
    &__options {
      color: #000;
      position: absolute;
      top: calc(100% + rem(8));
      border-radius: 4px;
      min-width: 100%;
      left: 0;
      background-color: #F5F5F5;
      border-top: 0;
      border: none;
      border-top: 0;
      padding: rem(6) rem(4);
      box-shadow: 0px rem(8) rem(20) rgba(26, 26, 26, 0.1);
    }
    &__scroll {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 200px;
      .simplebar-scrollbar {
        &::before {
          //opacity: 1;
        }
      }
    }
    &__option {
      width: 100%;
      text-align: left;
      cursor: pointer;
      padding: rem(10) rem(8);
      color: inherit;
      display: flex;
      flex-direction: column;
      &._select-selected {
        background-color: #eee;
      }
      @media (any-hover: hover) {
        &:hover {
          background: #fff;
        }
      }
    }

    // Конструкция дополнительных данных
    &__row {
      display: inline-flex;
      align-items: center;
    }
    &__asset {
    }
    &__text {
    }

    // Состояния селекта
    &._select-open {
      z-index: 5;
    }
    &._select-disabled {
    }
    &._select-active {
    }
    &._select-focus {
    }
    &._select-multiple {
    }
    &._select-checkbox {
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
    @media (max-width:$mobile){
      min-height: rem(100);
    }
  }

  &__item {
    position: relative;
    @media (max-width:$mobile){
      font-size: rem(13);
    }
  }

  &__checkbox {
    display: none;
    // &:checked+label {
    //   color: #2CA5F5;
    //   border-color: #2CA5F5;
    // }
  }

  &__label {
    padding: rem(8) rem(12);
    border-radius: rem(100);
    border: rem(1) solid #E0E0E3;
    display: flex;
    align-items: center;
    gap: rem(8);
    color: #111;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    img,
    picture {
      width: rem(24);
      height: rem(24);
      flex: 0 0 rem(24);
      border-radius: 50%;
    }
    @media (any-hover: hover){
      &:hover{
        color: #2CA5F5;
        border-color: #2CA5F5;
      }
    }
  }

  &__reset {
    color: #8E8E93;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: #2CA5F5;
      }
    }
  }
}
:root {
  --torkBodyGap: rem(43);
  @media (max-width:$mobile){
    --torkBodyGap: rem(19);
  }
}
.body-torkConfigurator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(43);
  max-width: 100vw;
  @media (max-width:$mobile){
    gap: rem(59);
    [data-step="tork"] & {
      gap: rem(19);
    }
  }

  &__teeth {
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: rem(43);
    @media (max-width:$pc){
      display: none;
    }
  }

  &__button {
    font-weight: 600;
    font-size: rem(13);
    color: #2CA5F5;
    min-width: rem(88);
    border: rem(1) solid #2CA5F5;
    border-radius: rem(100);
    transition: all 0.3s ease 0s;
    line-height: 1.4;
    padding: rem(7);
    @media (any-hover: hover){
      &:hover{
        color: #fff;
        background-color: #2CA5F5;
      }
    }
  }
}
.teeth-torkConfigurator {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__line {
    display: flex;
    gap: 16px;
    @media (max-width:$mobile){
      gap: 6px;
    }
    .teeth-torkConfigurator_left & {
      justify-content: flex-end;
    }
    .teeth-torkConfigurator_right {
      justify-content: flex-start;
    }

    &_top {
      .teeth-torkConfigurator__icon svg {
        transform: rotate(.5turn);
      }
      .galka {
        transform: rotate(.5turn) translate(0, 30%);
        transform-origin: center;
      }
    }

    &_bottom {
    }
  }

  &__tooth {

    &_mr {
      @media (min-width:$pc){
        margin-right: rem(24);
      }
    }
  }

  &__checkbox {
    &[disabled]+label {
      pointer-events: none;
      opacity: 0.2;
      .teeth-torkConfigurator__tork {
        opacity: 0;
      }
    }
    &:checked+label {
      svg {
        path[stroke-width="2"] {
          fill: #2CA5F5;
          stroke: #fff;
        }
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    svg {
      path[stroke-width="2"] {
        fill: #fff;
        stroke: #2CA5F5;
        transition: all 0.3s ease 0s;
      }
    }
    .teeth-torkConfigurator__line_bottom & {
      flex-direction: column-reverse;
    }
  }

  &__tork {
    img,
    picture {
      width: rem(24);
      height: rem(24);
      flex: 0 0 rem(24);
      border-radius: 50%;
    }
  }

  &__number {
    color: #2CA5F5;
    font-weight: 600;
    @media (max-width:$mobile){
      font-size: rem(13);
    }
  }

  &__icon {
    filter: drop-shadow(0px 2px 4px rgba(17, 17, 17, 0.2));
    svg {
      @media (max-width:$pc){
        max-width: calc((100vw - rem(109)) / 8);
        height: calc(((100vw - rem(109)) / 8) * 1.07);
      }
    }
  }
}

//========================================================================================================================================================

.order-configurator {
  @include adaptiveValue("margin-top", 40, 10, 1440, 480, 1);

  &__container {
    @media (min-width:$mobile){
      border: 0.5px solid #F9F9F9;
    }
    box-shadow: 0px rem(4) rem(8) rgba(26, 26, 26, 0.08);
    border-radius: rem(12);
    @include adaptiveValue("padding-top", 40, 16, 1440, 480, 1);
    @include adaptiveValue("padding-left", 20, 16, 1440, 480, 1);
    @include adaptiveValue("padding-right", 20, 16, 1440, 480, 1);
    padding-bottom: rem(20);
  }

  &__head {
  }
}
.head-orderConfigurator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(12);
  padding-bottom: rem(16);
  @media (max-width:$mobile){
    flex-direction: column;
    align-items: start;
  }

  &__titles {
    @include adaptiveValue("padding-left", 20, 0, 1440, 480, 1);
    @include adaptiveValue("padding-right", 20, 0, 1440, 480, 1);
    span {
      color: #8E8E93;
      font-size: rem(13);
    }
  }
  
  &__title {
    @include adaptiveValue("font-size", 28, 18, 1440, 480, 1);
    margin: 0 !important;
  }

  &__prices {
    display: flex;align-items: end;
    gap: rem(16);
    @media (max-width:$mobile){
      flex-direction: row-reverse;
    }
  }

  &__price {

    &_old {
      text-decoration: line-through;
      color: #8E8E93;
      @include adaptiveValue("font-size", 18, 13, 1440, 480, 1);
    }

    &_actual {
      @include adaptiveValue("font-size", 28, 18, 1440, 480, 1);
      font-weight: 600;
    }
  }

  &__spollers {
  }
}
.spollers-orderConfigurator {

  &__spoller {
    position: relative;
    &:not(:last-child) {margin-bottom: rem(16);}
  }


  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    column-gap: rem(24);
    row-gap: rem(10);
    padding: rem(16) rem(20);
    background: #F9F9F9;
    border-radius: rem(4);
    line-height: 1;
    position: relative;
    @include adaptiveValue("padding-right", 76, 50, 1440, 480, 1);
    &::after{
      content:'';
      width: rem(13);
      height: rem(13);
      flex: 0 0 rem(13);
      border-right: 1.5px solid #8E8E93;
      border-bottom: 1.5px solid #8E8E93;
      align-self: center;
      transition: transform 0.3s ease 0s;
      @media (min-width:$mobile){
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        top: 50%;
        right: rem(25);
        z-index: 22;
      }
      @media (max-width:$mobile){
        transform: translateY(-50%) rotate(45deg);
      }
    }
    &._spoller-active::after {
      transform: translateY(0%) rotate(225deg);
    }
    @media (max-width:$mobile){
      padding: rem(16) 0;
      column-gap: rem(12);
      display: grid;
      grid-template-columns: 1fr 1fr rem(24);
      row-gap: rem(2);
      line-height: 1.4;
      margin: 0 rem(-12);
      min-width: calc(100% + rem(24));
      padding-left: rem(12);
      padding-right: rem(12);
    }
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 16, 1440, 480, 1);
    @media (max-width:$mobile){
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 1;
      text-align: left;
    }
  }

  &__name {
    flex: 1 1 auto;
    text-align: left;
    color: #2CA5F5;
    transition: color 0.3s ease 0s;
    span {
      font-size: rem(13);
    }
    @media (any-hover: hover){
      &:hover{
        color: $blue2;
      }
    }
    @media (max-width:$mobile){
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 1;
      text-align-last: left;
      font-size: rem(13);
    }
  }

  &__prices {
    display: flex;align-items: end;
    gap: rem(12);
    margin-left: auto;
    @media (max-width:$mobile){
      flex-direction: column-reverse;
      gap: rem(2);
      grid-row-start: 1;
      grid-row-end: 3;
      justify-content: flex-end;
      height: 100%;
    }
  }

  &__price {

    &_old {
      text-decoration: line-through;
      color: #8E8E93;
      @include adaptiveValue("font-size", 15, 13, 1440, 480, 1);

    }

    &_actual {
      font-weight: 600;
      @include adaptiveValue("font-size", 20, 16, 1440, 480, 1);
    }
  }

  &__body {
    padding-bottom: rem(4);
  }

  &__row {
    padding: rem(16) rem(20);
    @include adaptiveValue("padding-right", 75, 20, 1440, 480, 1);
    display: grid;
    gap: rem(8);
    @media (min-width:$mobile){
      justify-content: space-between;
      gap: rem(20);
      grid-template-columns: rem(30) rem(100) 46% rem(100) rem(80) rem(60);
      .spollers-orderConfigurator__spoller_bezcount & {
        grid-template-columns: rem(30) 46% rem(100) rem(80) rem(60);
      }
    }
    &:not(.spollers-orderConfigurator__row_first) {
      border: 0.5px solid #F9F9F9;
      box-shadow: 0px rem(4) rem(8) rgba(26, 26, 26, 0.08);
      border-radius: rem(12);
      @media (max-width:$mobile){
        display: grid;
        grid-template-columns:rem(20) repeat(2, 1fr) rem(20);
        gap: rem(6);
        border-radius: 0;
        box-shadow: none;
        padding: rem(12) rem(12) rem(12);
        margin: 0 rem(-12) 0;
        border: none;
        border-bottom: rem(1) solid rgba(232, 232, 233, 0.4);
      }
    }

    &_first {
      padding-bottom: rem(13);
      color: #8E8E93;
      font-size: rem(13);
      @media (max-width:$mobile){
        display: none;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: start;
    align-items: center;

    &_tooth {
      @media (max-width:$mobile){
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
        color: #8E8E93;
      }
    }

    &_name {
      @media (max-width:$mobile){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 5;
      }
    }

    &_params {
      gap: rem(8);
      img {
        flex: 0 0 rem(24);
        width: rem(24);
        height: rem(24);
      }
      @media (max-width:$mobile){
        min-height: rem(24);
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }

    &_article {
      @media (max-width:$mobile){
        grid-column-start: 1;
        grid-column-end: 3;
        color: #8E8E93;
        font-size: rem(13);
        gap: rem(4);
        &::before{
          content:'Артикул:';
        }
      }
    }

    &_prices {
      align-items: end;
      @media (min-width:$mobile){
        flex-direction: column;
      }
      @media (max-width:$mobile){
        grid-column-start: 3;
        grid-column-end: 5;
        justify-content: end;
        flex-direction: row-reverse;
        gap: rem(6);
      }
    }
    &_count {
      @media (max-width:$mobile){
        display: flex;
        align-items: flex-end;
        &::before{
          content:'Количество: ';
          display: inline-block;
          margin-right: rem(10);
          color: #8E8E93;
          font-size: rem(13);
        }
      }
    }
  }

  &__act {
  }

  &__old {
    font-size: rem(13);
    color: #8E8E93;
    text-decoration: line-through;
  }
}


.showmore-filterConfigurator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 28px;
  flex-wrap: wrap;
  row-gap: 0.9375rem;

  &__content {
    max-width: rem(735);
    display: flex;
    gap: rem(12);
    @media (min-width:$mobile){
      flex-wrap: wrap;
      flex: 0 1 rem(735);
    }
    @media (max-width:$mobile){
      max-width: 100vw;
      padding-bottom: rem(10);
      overflow-x: auto;
    }
  }

  &__item {
    position: relative;
  }

  &__checkbox {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
    &:checked+label {
      border-color: #2CA5F5;
      color: #2CA5F5;
    }
  }

  &__label {
    display: block;
    padding: rem(10) rem(15);
    border: rem(1) solid #E0E0E3;
    border-radius: rem(100);
    transition: all 0.3s ease 0s;
    font-weight: 600;
    cursor: pointer;
    @media (any-hover: hover){
      &:hover{
        border-color: #2CA5F5;
      }
    }
    @media (max-width:$mobile){
      white-space: nowrap;
      font-size: rem(13);
    }
  }

  &__more {
    font-weight: 600;
    color: #2CA5F5;
    display: flex;
    align-items: center;
    gap: rem(8);
    & span::after{
      content:'';
      display: inline-block;
      vertical-align: middle;
      width: rem(20);
      height: rem(20);
      flex: 0 0 rem(14);
      background-image: url(../img/svg/select-blue.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    & span:last-child::after {
      transform: rotate(180deg);
    }
  }
}


.mobtitle-headConfigurator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(15);
  padding: rem(12) rem(16);
  margin: 0 rem(-15);
  box-shadow: 0px rem(1) rem(4) rgba(26, 26, 26, 0.08);
  position: relative;
  @media (min-width:$mobile){
    display: none;
  }

  &__back {
  }

  &__name {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 600;
  }

  &__close {
  }

  &__tocart {
    position: absolute;
    top: 50%;
    right: rem(52);
    transform: translateY(-50%);
    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #2CA5F5;
      color: #fff;
      font-size: rem(11);
      line-height: 1.3;
      padding: 0 rem(6);
      border-radius: rem(100);
      transform: translate(50%, -30%);
    }
    svg {
      width: rem(24);
      height: rem(24);
    }
  }
}

:root {
  @include adaptiveValue("--confItemWidht", 268, 165, 1920, 480, 1);
}
.config_products {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--confItemWidht));
  @include adaptiveValue("gap", 16, 8, 1440, 480, 1);
  justify-content: center;
}

.page_configurator {
  .filtersPopup__content {
    padding-top: rem(15);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .filtersPopup__close {
    top: 2.125rem;
  }
  .filtersPopup__text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    .filter_header {
      @media (max-width:$mobile){
        flex: 1 1 auto;
        padding: rem(17) rem(15);
      }
    }
    .filter-header__head {
      @media (max-width:$mobile){
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: rem(50);
        padding-bottom: rem(20);
      }
    }
    .filter-header__title {
      font-weight: 600;
      text-align: center;
    }
    .filtersPopup__show  {
      margin-top: auto;
    }
  }
}

//========================================================================================================================================================

.configuratorPopup {
  padding: 10vh 0 0;

  &__wrapper {
    justify-content: end;
  }

  &__content {
    padding: 0;
    position: relative;
    height: auto;
    // min-height: 90vh;
    border-radius: rem(20) rem(20) 0 0;
  }

  &__close {
    position: absolute;
    top: rem(16);
    right: rem(16);
  }

  &__text {
  }

  &__link {
    display: flex;
    justify-content:center;align-items: center;
    font-size: rem(20);
    color: $blue;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    @media (min-width:$mobile){
      display: none;
    }
  }
}

.fancybox-slide {
  .filters-count {
    display: none;
  }
  @media (max-width:$mobile){
    padding: 0;
    .filters {
      height: 100vh;
      border-radius: 0;
      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(14) rem(12);
        box-shadow: 0px 0.5px rem(4) rgba(26, 26, 26, 0.08);
        &::before{
          content:'';
          display: block;
          width: rem(32);
        }
      }
      &_title {
        font-size: rem(15);
        font-weight: 600;
        line-height: 1.3;
      }
      &_label {
        display: flex;
        align-items: center;
        gap: rem(15);
        justify-content: space-between;
        padding: rem(22) rem(16);
        .btn-link-dark {
          color: $blue;
          font-size: rem(15);
          span {
            display: none;
          }
        }
        .filters-count {
          display: block;
          color: #8E8E93;
          font-size: rem(15);
        }
      }
      &_content {
        padding: rem(0) rem(16) rem(10);
      }
      &_list {
        flex-direction: column;
        .grid4 {
          flex: 1 1 auto;
          max-width: none;
        }
      }
      &_item_title {
        pointer-events: none;
        &::after{
          display: none;
        }
      }
      &_footer {
        padding: 0 rem(16) rem(16);
        .btn.btn-blue {
          width: 100%;
          padding: rem(17);
          border-radius: rem(8);
        }
      }
    }
  }
}

.checked-filterHeader {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12);
  margin-bottom: rem(28);
  min-height: rem(44);
  @media (max-width:$mobile){
    display: none;
  }

  &__item {
    display: inline-block;
    background-color: #F5F5F5;
    border-radius: rem(100);
    padding: rem(10) rem(14);
    font-size: rem(15);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: rem(4);
  }

  &__name {
    color: #8E8E93;
  }

  &__value {
    color: #111;
  }

  &__del {
    flex: 0 0 rem(24);
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    position: relative;
    margin-left: rem(4);
    transition: background-color 0.3s ease 0s;
    cursor: pointer;
    @media (any-hover: hover){
      &:hover{
        background-color: #E0E0E3;
      }
    }
    @media (any-hover: none){
      background-color: #E0E0E3;
    }
    &::after,
    &::before{
      content:'';
      display: inline-block;
      width: rem(15);
      height: rem(2);
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}


.filter_header .check-select__select,
.btn-allfilter {
  font-size: rem(15);
}

.check-select__dropdown a {
  font-size: rem(13);
  transition: color 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      color: $blue;
    }
  }
}