
.content-block {
  blockquote {
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    align-items: start;
    flex-direction: column;
    line-height: 1.29;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20, 1440, 480, 1);
    }
    @include adaptiveValue("padding-top", 20, 16, 1440, 480, 1);
    @include adaptiveValue("padding-bottom", 20, 16, 1440, 480, 1);
    @include adaptiveValue("padding-left", 46, 44, 1440, 480, 1);
    @include adaptiveValue("padding-right", 16, 12, 1440, 480, 1);
    @media (min-width:$mobile){
      border-radius: rem(8);
    }
    @media (max-width:$mobile){
      margin: 0 rem(-15);
    }
    &::before{
      content:'';
      position: absolute;
      @include adaptiveValue("top", 20, 16, 1440, 480, 1);
      @include adaptiveValue("left", 16, 12, 1440, 480, 1);
      left: 0;
      width: rem(24);
      flex: 0 0 rem(24);
      height: rem(24);
      display: flex;
      justify-content:center;align-items: center;
      background-image: url(../img/static/howorder_info.svg);
    }
    
    &>strong {
      display: block;
      line-height: 1.6;
      &:not(:last-child) {
        margin-bottom: rem(4);
      }
    }
  
    p {
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }
  h2 {
    font-weight: 600;
    @include adaptiveValue("font-size", 28, 20, 1440, 480, 1);
    &:not(:last-child) {margin-bottom: rem(16);}
  }
  .marker {
    font-weight: 600;
    display: inline-flex;
    line-height: 1;
    justify-content:center;align-items: center;
    @include adaptiveValue("width", 32, 25, 1440, 480, 1);
    @include adaptiveValue("height", 32, 25, 1440, 480, 1);
    @include adaptiveValue("flex-basis", 32, 25, 1440, 480, 1);
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-right: rem(13);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: rem(15);
  }
  img {
    display: inline-block;
    &:not(:last-child) {margin-bottom: rem(24);}
  }
  ol {
    counter-reset: mainCounter;
    &:not(:last-child) {margin-bottom: rem(24);}
    li {
      list-style: none;
      margin: 0 0 rem(15);
    }
    .tradeinfo & {
      li::before {
        counter-increment: mainCounter;
        content: counter(mainCounter) '. ';
      }
    }
  }
  ul {
    padding-left: 1em;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }

    li {
      margin-left: -1em;
      display: flex;
      align-items: start;
      gap: rem(12);

      &:not(:last-child) {
        margin-bottom: rem(12);
      }

      &::before {
        content: '';
        flex: 0 0 rem(6);
        width: rem(6);
        height: rem(6);
        display: inline-block;
        border-radius: 50%;
        background-color: #E0E0E3;
        margin-top: rem(9);
      }
    }
  }
  a {
    color: #2CA5F5;
    transition: color 0.3s ease 0s;
  }
  h5 {
    font-weight: 600;
    @include adaptiveValue("font-size", 18, 16, 1440, 480, 1);
    &:not(:last-child) {margin-bottom: rem(16);}
  }
  big {
    font-size: rem(15);
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
    }
  }
  [style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"] {
    padding: rem(20) !important;
    background: #F9F9F9 !important;
    border-radius: rem(8) !important;
    @media (max-width:$mobile){
      padding: rem(14) !important;
    }
    border: none !important;
    &:not(:last-child) {margin-bottom: rem(24);}
  }
  tt {
    font-family: inherit !important;
    color: #fff;
    font-weight: 500;
    background-color: $blue;
    @include adaptiveValue("padding", 15, 8);
    &:not(:last-child) {margin-bottom: rem(20);}
    display: block;
  }
  iframe,
  video {
    width: 100%;
    height: rem(450);
    border-radius: rem(12);
  }
  table tr {
    display: flex;
    align-items: start;
    @include adaptiveValue("gap", 16, 12);
    &:not(:last-child) {margin-bottom: rem(24);}
    @media (max-width:$mobile){
      flex-direction: column;
    }
    td {
      min-width: rem(48);
    }
  }
  table {
    &:not(:last-child) {margin-bottom: rem(16);}
  }
  small {
    display: flex;
    font-size: rem(15);
    align-items: flex-start;
    &:not(:last-child) {margin-bottom: rem(16);}
  }
}
//========================================================================================================================================================

.article {
  .page_damon & {
    padding-top: rem(40);
  }

  &__container {
    @media (max-width:$tablet){
      padding-top: rem(24);
    }
  }

  &__cnt {
    max-width: rem(800);
    @include adaptiveValue("padding-bottom", 115, 75);
  }

  &__head {
  }

  &__label {
    @include adaptiveValue("padding", 20, 14);
    background-color: #F9F9F9;
    border-radius: rem(8);
    &:not(:last-child) {margin-bottom: rem(24);}
  }
  &__shorttext {
    color: #fff;
    font-weight: 500;
    background-color: $blue;
    @include adaptiveValue("padding", 15, 8);
    &:not(:last-child) {margin-bottom: rem(20);}
  }

  &__body {
  }

  &__item {
    &:not(:last-child) {margin-bottom: rem(60);}
    position: relative;
  }

  &__text {
    display: flex;
    align-items: start;
    @include adaptiveValue("gap", 16, 12);
    &:not(:last-child) {margin-bottom: rem(24);}
    &_withicon {
      @media (max-width:$mobile){
        flex-direction: column;
      }
    }
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    border-radius: rem(12);
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 28, 20, 1440, 376, 1);
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    &_mb {
      &:not(:last-child) {
        margin-bottom: rem(22);
      }
    }
  }

  &__icon {
    flex: 0 0 rem(48);
    img,
    picture {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    @media (max-width:$mobileSmall){
      display: none;
    }
  }

  &__li {
    display: flex;
    align-items: start;
    gap: rem(8);
    &::before{
      content:'';
      display: block;
      width: rem(6);
      flex: 0 0 rem(6);
      transform: translateY(rem(6));
      height: rem(6);
      border-radius: 50%;
      background-color: #E0E0E3;
    }
  }

  &__number {
    background-color: #F5F5F5;
    flex: 0 0 rem(32);
    height: rem(32);
    border-radius: 50%;
    display: flex;
    justify-content:center;align-items: center;
    font-weight: 600;
    transform: translateY(rem(-6));
  }

  &__banner {
  }

  &__slider {
    margin: rem(-5);
    padding: rem(5);
    &:not(:last-child) {margin-bottom: rem(24);}
  }

  &__wrapper {
  }

  &__slide {

  }

  &__navigation {
    @media (max-width:$mobile){
      display: none;
    }
    div {
      margin-top: rem(22);
    }
  }

  &__tocatalog {
    background-color: $blue;
    color: #fff !important;
    border-radius: rem(4);
    display: inline-flex;
    justify-content:center;align-items: center;
    padding: rem(17);
    transition: background-color 0.3s ease 0s !important;
    font-weight: 600;
    @media (min-width:$mobileSmall){
      min-width: rem(340);
    }
    @media (max-width:$mobileSmall){
      width: 100%;
    }
    @media (any-hover: hover){
      &:hover{
        background-color: $blue2 !important;
      }
    }
  }

  &__important {
  }
}
.head-article {
  display: flex;
  align-items: center;
  gap: rem(8);
  flex-wrap: wrap;
  &:not(:last-child) {margin-bottom: rem(24);}
  @media (max-width:$mobileSmall){
    flex-direction: column;
    align-items: start;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: rem(8);
    color: $blue;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $blue2;
      }
    }
    @media (min-width:$mobileSmall){
      &:not(:last-child) {
        &::after{
          content:'';
          display: block;
          width: rem(6);
          height: rem(6);
          border-radius: 50%;
          background-color: #E0E0E3;
        }
      }
    }
  }
}
.banner-article {
  background-color: #2CA5F5;
  border-radius: rem(12);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("gap", 100, 20, 1440, 767, 1);
  &:not(:last-child) {margin-bottom: rem(60);}
  @media (max-width:$mobile){
    flex-direction: column;
  }

  &__content {
    @include adaptiveValue("padding", 20, 16);
    color: #fff;
    display: flex;
    flex-direction: column;
    @media (max-width:$mobile){
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: rem(20);
    font-weight: 600;
    &:not(:last-child) {margin-bottom: rem(12);}
    line-height: 1.2;
  }

  &__text {
    &:not(:last-child) {margin-bottom: rem(20);}
  }

  &__link {
    color: $blue;
    background-color: #fff;
    align-self: start;
    @media (max-width:$mobile){
      display: none;
    }
  }

  &__image {
    @media (min-width:$mobile){
      flex: 0 0 45%;
    }
    img,
    picture {
      width: 100%;
    }
  }
}
.slide-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(16);
  @include adaptiveValue("padding-top", 16, 0);
  @include adaptiveValue("padding-bottom", 16, 8);
  @include adaptiveValue("padding-left", 11, 8);
  @include adaptiveValue("padding-right", 11, 8);
  align-self: stretch;
  background-color: #fff;
  border-radius: rem(8);
  box-shadow: 0px 1px 4px rgba(26, 26, 26, 0.1);

  &__image {
    border-radius: rem(8);
    overflow: hidden;
    @media (min-width:$mobile){
      flex: 0 0 rem(172);
    }
    img,
    picture {
      width: 100%;
      object-fit: cover;
    }
    @media (max-width:$mobileSmall){
      max-width: rem(80);
      height: rem(80);
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: rem(4);
    width: 100%;
  }

  &__art {
    color: $gray;
    @include adaptiveValue("font-size", 13, 11);
    line-height: 1.3;
    &:not(:last-child) {margin-bottom: rem(4);}
  }

  &__name {
    @include adaptiveValue("font-size", 15, 13, 1440, 376, 1);
    letter-spacing: 0.01rem;
    display: inline-block;
    color: #111 !important;
    transition: color 0.3s ease 0s;
    &:not(:last-child) {
      margin-bottom: rem(35);
      @media (max-width:$mobileSmall){
        margin-bottom: rem(19);
      }
    }
    @media (any-hover: hover){
      &:hover{
        color: #2CA5F5 !important;
      }
    }
  }

  &__bottom {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    @media (max-width:$mobile){
      flex-direction: column;
      align-items: start;
      gap: rem(8);
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("font-size", 20, 18);
    font-weight: 600;
    font {
      display: inline-block;
    }
  }

  &__actprice {
    color: #FF3B30;
  }

  &__oldprice {
    color: $gray;
    font-size: rem(13);
    text-decoration: line-through;
  }

  &__buy {
    min-width: rem(120);
    border-radius: rem(4);
    background-color: $blue;
    color: #fff;
    display: flex;
    justify-content:center;align-items: center;
    padding: rem(10);
    font-weight: 600;
    transition: background-color 0.3s ease 0s;
    @media (max-width:$mobile){
      width: 100%;
    }
    @media (any-hover: hover){
      &:hover{
        background-color: $blue2;
      }
    }
    &_unavaiable {
      color: #8E8E93;
      font-size: rem(13);
      background-color: transparent;
      padding: 0;
      align-self: flex-end;
      pointer-events: none;
      @media (max-width:$mobile){
        text-align: left;
        justify-content: flex-start;
      }
    }
    &_quantity {
      padding: 0;
      background-color: transparent;
      align-self: flex-end;
      @media (any-hover: hover){
        &:hover{
          background-color: transparent;
        }
      }
      @media (max-width:$mobile){
        text-align: left;
        justify-content: flex-start;
      }
    }
  }
}
.important-article {
  display: flex;
  align-items: start;
  @include adaptiveValue("padding", 16, 12);
  border-radius: rem(8);
  gap: rem(8);
  background-color: #F9F9F9;
  @media (max-width:$mobile){
    flex-direction: column;
  }

  &__icon {
  }

  &__content {
  }

  &__title {
    font-weight: 600;
    &:not(:last-child) {margin-bottom: rem(4);}
  }

  &__text {
  }
}

//==============================================================================================================


.howorder {
  @include adaptiveValue("padding-bottom", 86, 40, 1440, 480, 1);

  &__container {
    @extend .cabinet__body;
  }

  &__cnt {
    max-width: rem(793);
  }

  &__head {
    @media (max-width:$tablet){
      padding-top: rem(24);
    }
  }

  &__title {}

  &__important {}

  &__body {}

  &__attention {}
}

.important-howorder {
  background-color: #f9f9f9;
  display: flex;
  align-items: start;
  gap: rem(8);
  line-height: 1.29;
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40, 20, 1440, 480, 1);
  }
  @include adaptiveValue("padding-top", 20, 16, 1440, 480, 1);
  @include adaptiveValue("padding-bottom", 20, 16, 1440, 480, 1);
  @include adaptiveValue("padding-left", 16, 12, 1440, 480, 1);
  @include adaptiveValue("padding-right", 16, 12, 1440, 480, 1);
  @media (min-width:$mobile){
    border-radius: rem(8);
  }
  @media (max-width:$mobile){
    margin: 0 rem(-15);
  }
  &::before{
    content:'';
    width: rem(24);
    flex: 0 0 rem(24);
    height: rem(24);
    display: flex;
    justify-content:center;align-items: center;
    background-image: url(../img/static/howorder_info.svg);
  }

  &__body {
    &>strong {
        display: block;
        line-height: 1.6;
        &:not(:last-child) {
          margin-bottom: rem(4);
        }
      }
    
      p {
        &:not(:last-child) {
          margin-bottom: rem(16);
        }
      }
  }

}

.body-howorder {
  &:not(:last-child) {
    margin-bottom: rem(12);
    .tradeinfo & {
      margin-bottom: rem(60);
    }
  }

  ol {
    counter-reset: mainCounter;
    &:not(:last-child) {margin-bottom: rem(24);}
    li {
      list-style: none;
      margin: 0 0 rem(15);
    }
    .tradeinfo & {
      li::before {
        counter-increment: mainCounter;
        content: counter(mainCounter) '. ';
      }
    }
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 28, 20, 1440, 480, 1);
    &:not(:last-child) {margin-bottom: rem(16);}
  }

  &__list {
    counter-reset: mainCounter;
      li {
        list-style: none;
        margin: 0 0 rem(13);
        display: grid;
        grid-template-columns: rem(32) auto;
        gap: rem(13);
        span {
          display: flex;
          align-items: center;
        }
      }
    
      li::before {
        font-weight: 600;
        display: inline-flex;
        line-height: 1;
        justify-content:center;align-items: center;
        @include adaptiveValue("width", 32, 25, 1440, 480, 1);
        @include adaptiveValue("height", 32, 25, 1440, 480, 1);
        border-radius: 50%;
        background-color: #f5f5f5;
        counter-increment: mainCounter;
        content: counter(mainCounter) '  ';
      }

      img,
      picture {
        grid-column-start: 1;
        grid-column-end: 3;
        display: block;
        max-width: 100%;
      }
      picture {
        margin-bottom: rem(15);
      }
  }

  &__item {}
}

.attention-howorder {
  &:not(:last-child) {margin-bottom: rem(32);}

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 18, 16, 1440, 480, 1);
    &:not(:last-child) {margin-bottom: rem(16);}
  }
    ul {
      padding-left: 1em;

      &:not(:last-child) {
        margin-bottom: rem(24);
      }

      li {
        margin-left: -1em;
        display: flex;
        align-items: start;
        gap: rem(12);

        &:not(:last-child) {
          margin-bottom: rem(12);
        }

        &::before {
          content: '';
          flex: 0 0 rem(6);
          width: rem(6);
          height: rem(6);
          display: inline-block;
          border-radius: 50%;
          background-color: #E0E0E3;
          margin-top: rem(9);
        }
      }
    }
  &__body {
    &>span {
      display: block;
      line-height: 1.3;
    }
    img,
    picture,
    source {
      display: block;
      max-width: 100%;
    }
    p {
      &:not(:last-child) {margin-bottom: rem(24);}
    }
    a {
      color: #2CA5F5;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $blue2;
        }
      }
    }
    &>a {
      display: block;
      font-weight: 600;
      &:not(:last-child) {margin-bottom: rem(16);}
    }
  }
  &__paragraph {
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
    }
  }
}

//========================================================================================================================================================

.tradeinfo {
  @include adaptiveValue("padding-bottom", 100, 40, 1440, 480, 1);
  line-height: 1.3;

  &__body {
    &:not(:last-child) {margin-bottom: rem(24);}
  }
}

.anchors-howorder {
  @extend .navigation-cabinet;
  position: sticky;
  top: rem(155);

  &__list {
    @extend .navigation-cabinet__list;
  }

  &__item {}

  &__link {
    @extend .navigation-cabinet__link;
  }
}


.news {
  @include adaptiveValue("padding-bottom", 180, 40, 1440, 480, 1);

  &__container {
  }

  &__head {
    @media (max-width:$tablet){
      margin-top: rem(24);
    }
  }

  &__title {
  }

  &__body {
    max-width: rem(895);
  }

  &__item {
  }
}
.item-news {
  display: flex;
  @include adaptiveValue("gap", 32, 16, 1440, 480, 1);
  @include adaptiveValue("padding-top", 24, 16, 1440, 480, 1);
  &:not(:last-child) {
    @include adaptiveValue("padding-bottom", 20, 16, 1440, 480, 1);
    border-bottom: rem(1) solid #f5f5f5;
  }
  @media (max-width:$mobile){
    flex-direction: column;
    align-items: start;
  }
  * {
    transition: all 0.3s ease 0s;
  }
  @media (any-hover: hover){
    &:hover{
      .item-news__title {
        color: #2CA5F5;
      }
    }
  }

  &__image {
    position: relative;
    @media (min-width:$mobile){
      flex: 0 0 rem(280);
      min-height: rem(124);
    }
    @media (max-width:$mobile){
      min-height: rem(152);
      width: 100%;
      max-width: rem(345);
    }
    img,
    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #111;
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 18, 1440, 480, 1);
    &:not(:last-child) {margin-bottom: rem(4);}
  }

  &__label {
    color: #8E8E93;
    &:not(:last-child) {margin-bottom: rem(12);}
  }

  &__preview {
    &:not(:first-child) {
      margin-top: auto;
    }
    max-height: rem(60);
    overflow: hidden;
    text-overflow: ellipsis;
    color: #111;
  }
}